/* Insert Media query and set medium screen breakpoint at 768px to 50% width*/
@media(min-width: 768px) {
  .news-input {
    width: 20%
  }
}

body::before {
  display: block;
  content: '';
  height: 150px;
}